# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#

# NEW VERSION:
version: 2
jobs:
  build:
    working_directory: ~/sorting-hat
    docker:
      - image: circleci/ruby:2.5.1
      environment:
        PGHOST: localhost
        PGUSER: sorting-hat
        RAILS_ENV: test
      - image: postgres:9.6.1
        environement:
          POSTGRES_USER: sorting-hat
          POSTGRES_DB: sorting-hat_test
          POSTGRES_PASSWORD: ""
    steps:
      - checkout

      # Setup the environment
      - run: cp .sample.env .env

      # Setup the database
      - run: bundle exec rake db:setup

      # Run the tests
      - run: bundle exec rake











# OLDER VERSION:
# version: 2
# jobs:
#   build:
#     parallelism: 3
#     working_directory: ~/sorting-hat

#       docker:
#         - image: circleci/ruby:2.5.1
#           environment:
#             BUNDLE_JOBS: 3
#             BUNDLE_RETRY: 3
#             BUNDLE_PATH: vendor/bundle
#             PGHOST: 127.0.0.1
#             PGUSER: sorting-hat
#             RAILS_ENV: test
#         - image: circleci/postgres:9.6.3
#           environment:
#             POSTGRES_USER: sorting-hat
#             POSTGRES_DB: sorting-hat

#     steps:
#     - checkout

#     # Restore bundle cache
#     - restore_cache:
#         keys:
#           - rails-demo-bundle-v2-{{ checksum "Gemfile.lock" }}
#           - rails-demo-bundle-v2-

#     - run:
#         name: Bundle Install
#         command: bundle check || bundle install

#     # Store bundle cache
#     - save_cache:
#         key: rails-demo-bundle-v2-{{ checksum "Gemfile.lock" }}
#         paths:
#           - vendor/bundle

#     # Database setup
#     - run:
#         name: Wait for DB
#         command: dockerize -wait tcp://localhost:5432 -timeout 1m

#     - run:
#         name: Database setup
#         command: bin/rails db:schema:load --trace

#     # Run rspec in parallel
#     - run: |
#         bundle exec rspec --profile 10 \
#                           --format RspecJunitFormatter \
#                           --out test_results/rspec.xml \
#                           --format progress \
#                           $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)

#     # Save test results for timing analysis
#     - store_test_results:
#         path: test_results
